<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}Procesamiento de Imágenes{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Procesador de Imágenes BMP</a>
    </div>
</nav>

<main class="container my-4">
    {% block content %}
        <h1 class="text-center">Bienvenido al Procesador de Imágenes</h1>
        <form action="{{ url_for('clear_db') }}" method="get" class="text-center mt-3">
            <button type="submit" class="btn btn-danger">Limpiar Base de Datos</button>
        </form>
    {% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tablaImagenes').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            },
            order: [[2, 'desc']] // Orden por fecha descendente por defecto
        });
    });
</script>
</body>
</html>
